<%- include('./partials/head') %>
    <%- include('./partials/header.ejs') %>
    <h1>OOP! SORRY PAGE DOES'T EXIST</h1>
    <P><a href="/">Click for Home Page</a></P>

  

    <%- include('./partials/footer') %>