<%- include('./partials/head') %>

<%- include('./partials/header') %>

    <div class="container mt-5">
        <div class="heading text-center">
            <h1><span>About</span>Us</h1>
        </div>

        <div class="row justify-content-start">
            <div class="col-lg-6" id="about">
                <p>We are located at Umuahia Abia State and our direction  is at No 31-34 Igbere Street Umuahia latitude 5.53 and longtitude of 7.49</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus, fugit.</p>
                <a href="#" id="another">Learn More</a>
            </div>
            <div class="col-lg-6">
                <img src="./Fan-Image/DSC_6588.jpg" alt="" width="750">
            </div>
        </div>
    </div>

<%- include('./partials/footer') %>