<%- include('./partials/head') %>

<%- include('./partials/header') %>




<main role="main">
    
    <div>
      <div class="jumbotron jumbotron-detail-Fan-Vanilla" style="background-image: url('./Fan-Image/Fan/fan-2.jpg'); background-attachment: fixed;background-repeat: no-repeat;" > 

        <div class="container">
          <h1 class="display-3  mt-5 title" id="title" >Fan Vanilla</h1>
        </div>
        
      </div>
        <div class="container ice">

          <h1>
            Fan Vanilla 
            <span class="text-muted " id="desc">The First,The Best Selling</span>
          </h1>

        </div>

        <!-- <div class="alert alert-success">
          <strong>Successful!</strong> Fan-Vanille has been added to your shopping Cart
        </div>
      </div> -->
        
        <div class="row  border border-danger">
            <div class="col-md-6">
                <img src="./Fan-Image/FANVANILLE.png" alt="Fan Vanilla" class="border border-rounded-lg border-5 img-fluid imageF" width="500" height="350">
            </div>

            <div class="col-md-6">
                <h3 class="mb-3" >
                    About This Cream
                </h3>

                <p>Fan Vanilla is the first <small> Outstanding Ice Cream </small>that has made a name and a quailty that has kept us going on</p>

                <h3 class="my-3">Ingredients</h3>
                <ul>
                    <li>Skimmed Milk</li>
                    <li>Vanilla flavour</li>
                    <li>Treated Water</li>
                    <li>Stabilizer</li>
                    <li>Sugar</li>
                </ul>
                <div class="">
                  <div class="row">
                    <div class="col-md-4 mt-4 price" id="price">
                      <strong>Price #36.00</strong>
                    </div>

                    <!-- <div class="col-md-8 mt-4">
                      <button data-order="Fan Vanille" class="btn btn-dark float-right text-danger">
                       Add To Cart.
                      </button> -->

                    <div class="col-md-8 mt-4">
                      <button data-order="Fan Vanille" id="order"  class="btn btn-dark float-right text-danger">
                        Add To Cart
                      </button>
                     
                  </div>
                </div>
              
                    
                </div>

                
            </div>
  

        </div>
        <div class="row">
          <div class="table-responsive p-4">
            <table class="table table-striped table-danger mt-3 table-hover table-border ">
              <thead class="table-info">
                <tr >
                  
                  <th >Ingredients</th>
                  <th >Risk</th>
                  <th >Percentage</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  
                  <td>Skimmed Milk</td>
                  <td>Yes</td>
                  <td>60%</td>
                </tr>
                <tr>
                  <td>Vanilla flavour</td>
                  <td>Yes</td>
                  <td>20%</td>
                </tr>
                <tr>
                
                  <td>Treated Water</td>
                  <td>Yes</td>
                  <td>80%</td>
                </tr>
  
                <tr>
                  <td>Stabilizer</td>
                  <td>Yes</td>
                  <td class="table-info">-</td>
                </tr>
                <tr>
                  <td>Sugar</td>
                  <td>Yes</td>
                  <td>10%</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        

        <div class="p-4 mb-3 mt-2 bg-light rounded border border-primary">
          <h4>A Quote from KingsIke</h4>
          <p class="mb-0 font-italic">My Ice-Cream and Yoghurts has been in our Family for generations.We hope you enjoy both Fan and Velite Creams! - 
            KingsIke
          </p>
        </div>

        <h3 class="my-4  check display-5">You can check on other Products.....</h3>

        <div class="row">
          <div class="col-md-3 col-sm-6">
            <img src="./Fan-Image/Fan/Fan-Ice.jpg" alt="" width="250" height="200">
            <h1>Fan-Ice</h1>
            <p>A Yoghurt for your consumption</p>
            <p><a href="fanice.html" class="btn btn-dark rounded-pill" role="button">View Details</a></p>
         </div>

         <div class="col-md-3 col-sm-6">
            <img src="./Fan-Image/Fan/Fan-cho.jpg" alt="" width="250" height="200">
            <h1>FanIce Chocolate</h1>
            <p>Our teaste is what you will Love</p>
            <p><a href="king.html" class="btn btn-danger rounded-pill" role="button">View Details</a></p>
         </div>

         <div class="col-md-3 col-sm-6">
            <img src="./Fan-Image/Fan/Superyog.jpg" alt="" width="250" height="200">
            <h1>Fan SuperYogo</h1>
            <p>A Yoghurt for your consumption</p>
            <p><a href="velite.html" class="btn btn-dark rounded-pill" role="button">View Details</a></p>
         </div>

         <div class="col-md-3 col-sm-6 border border-danger">
            <img src="./Fan-Image/Velite/Velite V.jpg" alt="" width="250" height="200" class="rounded">
            <h1>Velite Yoghurt</h1>
            <p>So teaste To Lick</p>
            <p><a href="velite.html" class="btn btn-danger rounded-pill" role="button">View Details</a></p>
         </div>


        </div>
      </div>
    </div>
  </main>

<%- include('./partials/footer') %>