<%- include('./partials/head') %>

    <%- include('./partials/header') %>


    <div class="main">
        <div class="container mt-5">
            <div class="row">

                <div class="col-md-4">
                    <img src="./Fan-Image/Velite/BananaB.jpg" alt="" width="250" height="200">
                    <h1>Banana</h1>
                    <p>A Yoghurt for your consumption</p>
                    <p><a href="product.html" class="btn btn-info" role="button">View Details</a></p>
                </div>

                <div class="col-md-4 ">
                    <img src="./Fan-Image/Velite/coconutB.jpg" alt="" width="250" height="200">
                    <h1>Velite Coconut</h1>
                    <p>Teaste like Coconut</p>
                    <p><a href="choco.html" class="btn btn-info" role="button">View Details</a></p>
                </div>

                <div class="col-md-4">
                    <img src="./Fan-Image/Velite/orange.jpg" alt="" width="250" height="200">
                    <h1>Velite Orange</h1>
                    <p>Our teaste is you will Love</p>
                    <p><a href="super-yogo.html" class="btn btn-info" role="button">View Details</a></p>
                </div>

               


                <div class="col-md-4 ">
                    <img src="./Fan-Image/Velite/special.jpg" alt="" width="250" height="200">
                    <h1>Extra Special</h1>
                    <p>Size Matters</p>
                    <p><a href="super.html" class="btn btn-danger" role="button">View Details</a></p>
                </div>

                <div class="col-md-4">
                    <img src="./Fan-Image/Velite/Velite V.jpg" alt="" width="250" height="200">
                    <h1>Velite Vanille</h1>
                    <p>Bigger than Ever</p>
                    <p><a href="vanille.html" class="btn btn-danger" role="button">View Details</a></p>
                </div>

                <div class="col-md-4">
                    <img src="./Fan-Image/Velite/velite.jpg" alt="" width="250" height="200">
                    <h1>Velite </h1>
                    <p>A Yoghurt for your consumption</p>
                    <p><a href="ice.html" class="btn btn-danger" role="button">View Details</a></p>
                </div>
            </div>
        </div>
    </div>


    <%- include('./partials/footer') %>